[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
Flask-Excel = "*"
pyexcel-xlsx = "*"
flask_basicauth = "*"
mysql-connector-python = "*"
base58 = "*"
ecdsa = "*"
unidecode = "*"
requests = "*"
schedule = "*"
pycron = "*"
bipwrapper = "*"
pyyml = "*"
uwsgi = "*"

[requires]
python_version = "3.6"
